---
import Header from "@components/Header.astro";
import MainSection from "@components/MainSection.astro";
import Layout from "@layout/Layout.astro";
import Previous from "public/media/icons/Previous.astro";
import { Modelos } from "@lib/catalogo";
import PhoneContact from "public/media/icons/PhoneContact.astro";

export function getStaticPaths() {
	return Modelos.map((modelo) => {
		return {
			params: {
				modelo: modelo.path,
			},
		};
	});
}

const { modelo } = Astro.params;
const modeloCapitalized = modelo.charAt(0).toUpperCase() + modelo.slice(1);
---

<Layout title={`Modelo ${modeloCapitalized}`}>
	<Header>
		<a
			href="/catalogo"
			class="text-sm flex items-center gap-2 hover:text-orange transition-all"
		>
			<Previous />
			<span>Atrás</span>
		</a>
	</Header>

	<MainSection>
		<div class="flex max-lg:flex-col justify-around">
			<div class="max-w-[520px] max-lg:mx-auto max-lg:mb-8">
				<h1
					transition:name={`${modelo}-catalogo-title`}
					class="max-lg:text-center text-lg uppercase font-bold"
				>
					Modelo {modeloCapitalized}
				</h1>
				<p
					transition:name={`${modelo}-catalogo-description`}
					class="max-lg:text-center max-w-[600px] text-sm mt-4"
				>
					{Modelos.find((m) => m.path === (modelo as string))?.description}
				</p>
				<a
					transition:name={`${modelo}-catalogo-button`}
					class="flex gap-3 items-center bg-orange hover:bg-[#De7700] transition-all mt-5 rounded-lg w-fit text-white px-5 py-2 max-lg:mx-auto"
					href="https://wa.link/ovut67"
				>
					<span class="text-sm">Contacto</span>
					<PhoneContact />
				</a>
			</div>

			<div>
				<img
					transition:name={`${modelo}-catalogo-image`}
					class="w-full max-w-[600px] h-full"
					src={`/media/images/pages/catalogo/${modelo}1.webp`}
					alt={`Modelo ${modeloCapitalized}`}
				/>
			</div>
		</div>
	</MainSection>
</Layout>
