---
import Header from "@components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import MainSection from "@components/MainSection.astro";
import ContactLayout from "src/layouts/ContactLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="AltaVida - Blog 📣">
  <Header
    backgroundImage="/media/images/pages/blog/HeaderBackground.webp"
    title="Blog"
    subtitle="Ponte al día con las últimas noticias"
  />
  <MainSection>
    <article class="blogPosts_Container">
      {
        posts.map((post) => {
          return (
            <figure class="max-w-[380px] bg-gradient-to-t from-slate-900 to-navy-blue text-white border-2 border-orange rounded-2xl p-6">
              <img
                transition:name={`${post.slug}`}
                class="w-full object-cover mb-5"
                src={post.data.src}
                alt={post.data.alt}
              />

              <div>
                <h3 class="text-md font-my-raleway font-bold mb-3">
                  {post.data.title}
                </h3>
                <p class="text-sm">{post.data.description}</p>
              </div>

              <div class="text-sm flex items-center w-full justify-between gap-2 pt-5">
                <span>{post.data.views}</span>
                <a
                  class="bg-orange hover:bg-[#De7700] py-2 px-4 block w-fit transition-all text-white font-my-raleway font-bold rounded-md"
                  href={`/blog/${post.slug}`}
                >
                  Ver más
                </a>
              </div>
            </figure>
          );
        })
      }
    </article>
  </MainSection>

  <ContactLayout />
</Layout>

<style>
  .blogPosts_Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: start;
    gap: 3rem;
  }
</style>
